{
    "semi": false,
    "singleQuote": false,
    "tabWidth": 4,
    "jsxSingleQuote": false,
    "plugins": [
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ]
}
